body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.emph {
  color: red;
}

.title {
  margin-top: 50px;
  font-size: large;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bossthumbnail {
  border-radius: 5px;
}

.bossthumbnail:hover {
  margin: 2px;
  border: solid;
  border-style: solid;
  border-color: #2b2b2b;
  cursor: pointer;
}

.bossthumbnail:not(:hover) {
  border: solid;
  border-radius: "5px";
  border-color: black;
}

.bossdialogimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5px;
}
